<div class="container">
  <%= form_for [@city, @suggestion, @comment] do |f| %>
    <div class="form-group">
      <%= f.label :body, "Enter your comment here:" %>
    <div class="form-group">
      <%= f.text_area :body %>
      </div>
    <div class="form-group">
      <%= f.submit "Submit" %>
      </div>
    </div>
  <% end %>
</div>

