<div class="navbar">
<ul class="nav nav-pills pull-left">
  <li><%= link_to 'Back to Homepage', cities_path %></li>
</ul>
  <ul class ="nav nav-pills pull-right">
    <li><%= link_to 'Back to Previous Page', city_suggestion_path(@city, @suggestion) %></li>
  </ul>
</div>
<h1>Adding a new Comment</h1>
<%= render 'form' %>
