<h1>Welcome to my work in progress!</h1>
<div>
Click below to see a list of cities
<div class="dropdown menu">
Pick a location you're interested in looking at!
<form class="filter_locations", method="get">
  <% @options = City.all.map { |a| [ a.country_name, a.id] } %>
  <%= select_tag "city_id", options_for_select(@options), :onchange => "this.form.submit();", :include_blank => true %>
</form>
</div>
</div>
