<h1>Welcome to my work in progress!</h1>
<div>
Click below to see a list of cities
  <div class="dropdown menu">
  Pick a location you're interested in looking at!
    <form class="filter_locations", action="", method="get">
       <% @options = City.all.map { |a| [  a.city_name, a.id] } %>
       <%= select_tag "city", options_for_select(@options), :onchange => "this.form.action = '/cities/' +\
      this.value;", :include_blank => true %>
       <%= submit_tag "Submit" %>
    </form>
  </div>
</div>
