<body class="homepage">
<div class="header">
  <h1 class="header-welcome">Fueling</h1>
   <div class="col-lg-12">
    <img class="img-responsive" src="http://3.bp.blogspot.com/-qP4_OfnqB0Q/UeFsfbZCsJI/AAAAAAAAAwo/yHSsXuP2jw4/s1600/header%2Bnanan%2Bpng%25282%2529.png">
  </div>
</div>
<div class="welcome-page">
Click below to see a list of cities
  <div class="dropdown menu">
  Pick a location you're interested in exploring!
    <form class="filter_locations", action="", method="get">
       <% @options = City.all.order("country_name ASC").order("city_name ASC").map { |a| [  a.city_name, a.id] } %>
       <%= select_tag "city", options_for_select(@options), :onchange => "this.form.action = '/cities/' +\
      this.value;", :include_blank => true %>
       <%= submit_tag "Submit" %>
    </form>
  </div>
</div>
<div class="above-footer">
<%= link_to 'See a List of All Cities', cities_path(@city)%>
</div>
<div class="footer"><p>Don't see a city you'd like to learn more about? Keep checking in or send an email to <a href="mailto:asbren13@gmail.com">asbren13@gmail.com</a> with your city recommendation!</p></div>

</body>
