<p id="notice"><%= notice %></p>
<h1>List of Current Cities</h1>


<ul class="cities">
  <% @cities.each do |city| %>
    <li> <%= link_to city.city_name, city %>, <%= city.country_name %></li>
  <% end %>
</ul>


<div><p>Don't see a city you'd like to learn more about? Keep checking in or send an email to asbren13@gmail.com with your city recommendation!</p></div>
