@import "bootstrap-sprockets";
@import "bootstrap";

body {
  color: #919191;
  font-family: "Raleway";
}
body.homepage {
  background: #D6FFEB;
}
.navbar {
  margin: -10px 0px 0px 0px;
  padding: 0;
  background-color: #A8E2C5;
  height: 50px;
  color: #919191;
  min-height: 50px;
  font-family: "Raleway";
  border-bottom: 2px solid #919191;
}
.nav-pill {
  height: 55px;
  margin-top: 10px;
}
.header {
  text-align: center;
  position: relative;
  @extend .row;
}
.header img {
  position: relative;
  max-width: 1278;
  margin: 0 auto;
  @extend .row;
}
.header-show {
  @extend .row;
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  background: #ffffff;
  max-height: 370px;
  min-height: 365px;
  padding: 0;
  margin: 0 auto;
  text-decoration: underline;
  position: relative;
}
.header-show img {
  position: relative;
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  border-bottom: 2px solid #919191;
}
.header-text{
  text-align: center;
  text-decoration: underline;
}
.jumbotron-welcome {
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  background: #D6FFEB;
  padding: 0;
  margin-top: -5px;
  border-bottom: 2px solid #919191;
}
.jumbotron-welcome img {
  position: relative;
  margin-right: auto;
  min-width: 100%;
  max-height: 300px;
}
.jumbotron-welcome h1 {
  font-family: "Calligraffitti";
  font-size: 90px;
  color: #919191;
  font-weight: bold;
}
.header-welcome {
  font-family: "Calligraffitti";
  font-size: 100px;
  color: #919191;
  font-weight: bold;
}
div h1 {
  margin-bottom: -10px;
}
div img {
  margin-bottom: 10px;
  min-width: 300px;
  min-height: 105px;
}
.footer {
  position:relative;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
  color: #919191;
  font-family: "Calligraffitti";
  margin-top: 20px;
}

.welcome-page {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Calligraffitti";
  font-weight: bold;
  color: #919191;
  font-size: 20px;
  margin-top: 10px;
}

.suggestions {
  font-size: 18px;
  margin-left: 300px;
  margin-right: 5px;
  max-width: 800px;
  display: inline-block;
  position: relative;
}
.suggestions-show {
  font-size: 18px;
  margin-right: 5px;
  max-width: 800px;
  display: inline-block;
  position: relative;
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: underline;
}
.suggestion{
  margin-right: 10px;
}
/* unvisited link */
a:link {
    color: #6B7F75;
    font-size: 18px;
}

/* visited link */
a:visited {
    color: #6B7F75;
    font-size: 18px;
}

/* mouse over link */
a:hover {
    color: #457F63;
    font-size: 18px;
}

/* selected link */
a:active {
    color: #919191;
    font-size: 18px;
}
.city_country {
  font-size: 20px;
  text-align: center;
}
.container {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.above-footer {
  text-align: center;
}
h2 {
  text-align: center;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-position: inside;
}

