@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #D6FFEB;
  font-family: "Calligraffitti";
}
.navbar {
  margin: -10px 0px 0px 0px;
  padding: 0;
  background-color: #ABCCBC;;
  height: 50px;
  color: #919191;
  min-height: 50px;
}
.nav-pill {
  height: 55px;
  margin-top: 10px;
}
.header {
  text-align: center;
  position: relative;
  @extend .row;
}
.header img {
  position: relative;
  margin: 0 auto;
}
.header-show {
  text-decoration: underline;
}
.jumbotron {
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  background: #FFFFFF;
  max-height: 320px;
  padding: 0;
  margin-top: -20px;
}
.jumbotron img {
  position: relative;
  margin-right: auto;
  width: 100%;
  max-height: 300px;
}
.jumbotron-welcome {
  text-align: center;
  min-width: 100%;
  max-width: 100%;
  background: #D6FFEB;
  padding: 0;
  margin-top: -5px;
}
.jumbotron-welcome img {
  position: relative;
  margin-right: auto;
  width: 100%;
  max-height: 300px;
}
.jumbotron-welcome h1 {
  font-family: "Calligraffitti";
  font-size: 115px;
  color: #919191;
  font-weight: bold;
}
.header-welcome {
  font-family: "Calligraffitti";
  font-size: 100px;
  color: #919191;
  font-weight: bold;
}
div h1 {
  margin-bottom: -10px;
}
div img {
  margin-bottom: 10px;
  min-width: 300px;
  min-height: 105px;
}

.welcome-page {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Calligraffitti";
  font-weight: bold;
  color: #919191;
  font-size: 20px;
  margin-top: 10px;
}

.footer {
  position:relative;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
  color: #919191;
  font-family: "Calligraffitti";
  margin-top: 20px;
}
.suggestions {
  font-size: 18px;
  margin-left: 30px;
  max-width: 500px;
  display: inline-block;
  position: relative;
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
/* unvisited link */
a:link {
    color: #919191;
    font-size: 18px;
}

/* visited link */
a:visited {
    color: #6B7F75;
    font-size: 18px;
}

/* mouse over link */
a:hover {
    color: #457F63;
    font-size: 18px;
}

/* selected link */
a:active {
    color: #919191;
    font-size: 18px;
}
.city_country {
  font-size: 20px;
  text-align: center;
}
.container {
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
.above-footer {
  text-align: center;
}
h2 {
  text-align: center;
}
