<div class="navbar">
<ul class="nav nav-pills pull-left">
  <li><%= link_to 'Back to Homepage', root_path %></li>
</ul>
  <ul class ="nav nav-pills pull-right">
    <li><%= link_to 'Back to City', city_path(@city) %></li>
  </ul>
</div>
<div class="header-show">
  <div class="col-lg-14">
    <img class="img-responsive" src="<%= @city.photo_url %>">
  </div>
</div>

<h1 class="header">Adding a new Suggestion</h1>

<br>
<%= render 'form' %>
