<div class="navbar">
<ul class="nav nav-pills pull-left">
  <li><%= link_to 'Back to Homepage', cities_path %></li>
</ul>
  <ul class ="nav nav-pills pull-right">
    <li><%= link_to 'Back to Suggestions', city_suggestions_path(@city, @suggestion) %></li>
  </ul>
</div>

<h1>Adding a new Suggestion</h1>
<%= render 'form' %>
