<div class="navbar">
<ul class="nav nav-pills pull-left">
  <li><%= link_to 'Back to Homepage', root_path %></li>
</ul>
  <ul class ="nav nav-pills pull-right">
    <li><%= link_to 'Back to City', city_path(@city) %></li>
  </ul>
</div>

<h1 class="header">Adding a new Suggestion</h1>

<br>
<%= render 'form' %>
